.main-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-navbar.-between {
  justify-content: space-between;
}

.main-navbar.-between video {
  height: 16.6rem;
}